.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-image: url('https://www.google.co.kr/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwiOqrLtnIbYAhVCJJQKHSG3DGwQjRwIBw&url=https%3A%2F%2Fwww.extremetech.com%2Fextreme%2F214896-this-ai-algorithm-can-match-the-average-american-on-real-sat-questions&psig=AOvVaw2KRy6ivGKti4gcpJVxY_qr&ust=1513228279069050')
